<config>
	<http_interface>0</http_interface>
	<http_port>8805</http_port>
	<io_buf>8192</io_buf>
	<pool_length>8192</pool_length>
	<max_header>2048</max_header>
	<pool_timeout>1000</pool_timeout>
	<keep_alive>5</keep_alive>
	<timeout>10</timeout>
	<hosts>
		<localhost>
			<regex>"localhost"</regex>
			<mods>
				<mod_static path="mods/mod_static.so" arg="mods/resources/mod_static.xml"/>
			</mods>
		</localhost>
		<127.0.0.1>
			<regex>"127.0.0.1"</regex>
			<mods>
				<mod_static path="mods/mod_static.so" arg="mods/resources/mod_static.xml"/>
			</mods>
		</127.0.0.1>
		<192.168.168.210>
			<regex>"192.168.168.210"</regex>
			<mods>
				<mod_static path="mods/mod_static.so" arg="mods/resources/mod_static.xml"/>
			</mods>
		</192.168.168.210>
	</hosts>
</config>
