<responder>
	<mods>
		<mod_static path="./mod_static.so" config="mod_static.xml">
			<dir>
				<dir path="/"/>
				<dir path="/button/"/>
			</dir>
			<type>
				<type dot=".htm"/>
				<type dot=".html"/>
				<type dot=".jpg"/>
				<type dot=".png"/>
				<type dot=".css"/>
				<type dot=".gif"/>
				<type dot=".js"/>
				<type dot=""/>
			</type>
		</mod_static>
	</mods>
</responder>
<io>
	<max_process>30</max_process>
	<stable_process>1</stable_process>
	<http_port>8802</http_port>
	<resv_buf>4096</resv_buf>
	<io_buf>512</io_buf>
	<lock_file>/tmp/io_lock</lock_file>
</io>
