<responder>
	<mods>
		<mod_static path="mods/mod_static.so" config="mods/resources/mod_static.xml">
			<dir>
				<dir path="/"/>
				<dir path="/button/"/>
			</dir>
			<type>
				<type dot=".htm"/>
				<type dot=".html"/>
				<type dot=".jpg"/>
				<type dot=".png"/>
				<type dot=".css"/>
				<type dot=".gif"/>
				<type dot=".js"/>
				<type dot=""/>
			</type>
		</mod_static>
		<mod_cgi path="mods/mod_cgi.so" config="mods/resources/mod_cgi.xml">
			<dir>
				<dir path="/cgi-bin/"/>
			</dir>
			<type>
				<type dot=".cgi"/>
				<type dot=".sh"/>
				<type dot=".php"/>
				<type dot=".html"/>
			</type>
		</mod_cgi>
	</mods>
</responder>

<io>
	<max_process>30</max_process>
	<stable_process>1</stable_process>
	<http_port>8802</http_port>
	<resv_buf>4096</resv_buf>
	<io_buf>512</io_buf>
	<lock_file>/tmp/io_lock</lock_file>
</io>
